# .env.example

# Database URL
database_url=YOUR_DATABASE_URL

# Stripe Keys
stripe_public_key=YOUR_STRIPE_PUBLIC_KEY
stripe_secret_key=YOUR_STRIPE_SECRET_KEY

# Email Credentials
email_user=YOUR_EMAIL_USERNAME
email_password=YOUR_EMAIL_PASSWORD

# API Keys
api_key=YOUR_API_KEY